body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

td, th{
    font-size: 55px;
    padding: 3px 14px;
    text-align: center;
    border: 2px solid;
}

table{
    border: 1px solid black;
    margin: 13px 13px;
    background-color: white;
    
}

thead{
    
    background-color: rgb(41, 73, 170);

}

button {
    display: flex;
    justify-content: center;
    align-items: center;

}
